---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2022 - Actualidad",
    title: "Desarrollador de Software Freelance",
    company: "Proyectos Independientes / Negocios Locales",
    description:
      "Desarrollo de aplicaciones móviles y sitios web a medida para optimizar la presencia digital de negocios en Puerto Peñasco. Creación y mantenimiento de bases de datos relacionales para sistemas de gestión interna. Implementación de arquitecturas modernas (MVVM) y soluciones de backend escalables.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
